---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Section from './Section.astro'
---

<html lang="en">
  <head>
    <BaseHead title="nguyenvukhang" description="welcome to my blog" />
    <style></style>
  </head>

  <!-- vertical stack -->
  <body class="flex flex-col items-center w-full">
    <Section>
      <Header />
    </Section>
    <slot />
    <Section>
      <Footer />
    </Section>
  </body>
</html>
