---
import Main from '../layouts/Main.astro'
import Section from '../layouts/Section.astro'
---

<Main>
  <Section>
    <p>I currently study at the National University of Singapore.</p>

    <p>
      My ambition is to make fast and reliable software that helps people enjoy
      modern software without needing modern hardware.
    </p>

    <p>
      Towards this goal, I've been working on coding projects while studying
      theory at school.
    </p>

    <p>
      Towards this goal, I've been honing my skills by working on everyday tools
      with a focus on efficient I use and
    </p>
  </Section>
</Main>

<!-- styles -->
<style>
  p {
    @apply mb-6;
  }
</style>
