---
import MainLayout from '../layouts/Main.astro'
import Section from '../layouts/Section.astro'
---

<MainLayout>
  <Section>
    <p>I currently study at the National University of Singapore.</p>

    <p>
      My ambition is to make faster software that helps people enjoy modern
      software without needing modern hardware.
    </p>

    <p>
      Towards this goal, I've been working on coding projects while studying
      theory at school, all while
    </p>
  </Section>
</MainLayout>

<!-- styles -->
<style>
  p {
    @apply mb-6;
  }
</style>
