---
import ProjectLayout from '../layouts/Project.astro'
import { getCollection } from 'astro:content'
import MainLayout from '../layouts/Main.astro'
import Section from '../layouts/Section.astro'

const collection = await getCollection('projects')
const projects = await Promise.all(
  collection.map((v) =>
    v.render().then((render) => {
      v.Content = render.Content
      delete v.render
      return v
    })
  )
)
---

<MainLayout>
  <Section class='sm:max-w-[64rem]'>
    {
      projects.map(({ Content, data }) => (
        <ProjectLayout {...data}>
          <Content />
        </ProjectLayout>
      ))
    }
  </Section>
</MainLayout>
