---
import Main from '../layouts/Main.astro'
import Section from '../layouts/Section.astro'
import WorkExp from '../components/resume/WorkExperience.astro'
import Heading from '../components/resume/Heading.astro'
---

<Main>
  <Section>
    <Heading>Work Experience</Heading>

    <WorkExp
      company="A*STAR, Institute for Infocomm Research"
      position="Research Intern (Machine Learning)"
      range={['Jul 2023', 'Sep 2023']}
    >
      <li>
        Fine-tune Large Language Models (LLaMA/Falcon) against domain-specific
        Q&amp;A datasets using QLoRA and evaluate its usability as a chatbot
        backend.
      </li>
    </WorkExp>

    <WorkExp
      company="School of Computing, NUS"
      position="Teaching Assistant"
      range={['Jan 2023', 'May 2023']}
    >
      <li>
        Conduct classes in Programming Methodology II (CS2030) and Data
        Structures &amp; Algorithms (CS2040)
      </li>
      <li>
        Received feedback score of 4.8/5.0, nominated for teaching awards by 22%
        of attending students.
      </li>
    </WorkExp>
  </Section>
</Main>
