---
import ArticleCard from "../../components/ArticleCard.astro"
import Main from "../../layouts/Main.astro"
import Section from "../../layouts/Section.astro"
import articles from "../../articles"

const ARTICLES = await articles
  .getCollection(true)
  .then((articles) => articles.map((v) => v.data))
---

<Main>
  <Section>
    <p class="mb-8">Articles by me. Thank you for stopping by!</p>
    <div class:list={["space-y-7", "sm:space-y-6"]}>
      {ARTICLES.map((article) => <ArticleCard {...article} />)}
    </div>
  </Section>
</Main>
