---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')

const tw = 'leading-7 text-center fg-link no-underline'
const color = isActive ? 'text-fg-main' : 'text-fg-dim'
---

<a href={href} class:list={[tw, className, color]} {...props}><slot /></a>
