@import 'tailwindcss';
@config "../../tailwind.config.cjs";

@layer components {
  body {
    /* global config */
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: sans-serif; */

    /* font-family: 'IBM Plex Sans'; */
    font-weight: 380;
    word-wrap: break-word;
    overflow-wrap: break-word;

    /* forces scrollbar to always appear to prevent horizontal jerk */
    overflow-y: scroll;

    @apply text-base text-fg0 leading-7;
  }

  /**
   * code blocks
   */
  pre,
  code {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9rem;
    letter-spacing: -0.35px;
  }
  pre {
    line-height: 1.3em;
    @apply rounded-md py-3 px-4 border border-solid border-neutral-200;
  }

  /* links: clickable */
  a {
    @apply text-ac0
      /* Underline styles. */
      decoration-ac2 decoration-2
      /* Modes. */
      hover:underline active:underline
      /* On smaller screens, show a gray box when the link is clicked. */
      active:bg-fg2 active:rounded-xs
      active:sm:bg-transparent active:sm:rounded-none;
  }

  /* First-layer lists. Those that interact with other paragraphs. */
  div > ul,
  div > ol {
    @apply list-outside mb-4;
  }
  /* Nested lists. */
  ul,
  ol {
    @apply mb-1 marker:text-ac1;
    padding-left: 32px;
  }
  ol {
    @apply list-decimal;
  }
  ul {
    @apply list-disc; /* so that all the discs will be the same */
    /* without this, there will be hollow circles and squares in nested lists */
  }
  ul > li,
  ol > li {
    @apply pl-2;
    /* Adds spacing between the bullet point and the first word of the bullet list entry. */
  }

  /* Paragraphs */
  p {
    @apply mb-3;
  }

  /* Summary (disclosure blocks) */
  summary {
    cursor: pointer;
  }

  /* Custom selection colors */
  ::selection {
    @apply bg-selection; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    @apply bg-selection; /* Gecko Browsers */
  }
}
