@import "./themeo.css";
@import "./vanilla.css";

@layer components {
  .space-y-text {
    @apply space-y-4;
  }

  .md-pre {
    overflow-x: hidden;
    @apply bg-fg4;
  }
}

@layer components {
  body {
    font-variant-ligatures: none;
    font-weight: 380;
    word-wrap: break-word;
    overflow-wrap: break-word;

    /* forces scrollbar to always appear to prevent horizontal jerk */
    overflow-y: scroll;

    @apply text-fg0 leading-7;
  }

  a {
    /* On some devices, show a gray box when the link is clicked. */
    -webkit-tap-highlight-color: theme("colors.fg2");

    @apply text-ac0 decoration-ac3;
  }

  ul,
  ol {
    @apply marker:text-ac1;
  }
}
