@import "./global.css";

/* Headings. */
@layer components {
  h1,
  h2,
  h3 {
    @apply font-semibold;
  }
  h1 {
    @apply pt-4 text-xl;
  }

  h2 {
    @apply pt-3 text-lg;
  }

  h3 {
    @apply pt-3 text-base;
  }

  h1::before,
  h2::before,
  h3::before {
    font-weight: 100;
    letter-spacing: -2px;
    margin-right: 6px;
    @apply text-ac1 text-base;
  }

  h1::before {
    content: "#";
  }
  h2::before {
    content: "##";
  }
  h3::before {
    content: "###";
  }
}

/* Lists. */
@layer components {
  /* add vertical space after lists */
  li > * {
    @apply p-0 m-0;
  }
}

@layer components {
  kbd {
    color: var(--color-fg0);
    background: var(--color-fg3);
    box-shadow: 0 3px var(--color-fg2);
    font-weight: 500;
    border-radius: 4px;
    padding: 1px 3px 0;
  }

  /* The horizontal rule. */
  hr {
    @apply text-fg4 my-7;
  }

  code {
    @apply bg-fg3 rounded-sm px-0.5;
  }

  blockquote {
    @apply border-solid border-0 border-l-[3px] border-ac3
    m-0 px-4
    text-fg1;
  }

  /* Table of contents */
  ul.toc {
    @apply text-sm marker:text-fg2;
  }
  ul.toc > li > a {
    @apply text-fg1 decoration-fg2 decoration-1;
  }

  pre {
    line-height: 1.3em;
    @apply rounded-md py-3 px-4 border border-fg3;
  }

  pre * {
    padding: 0;
    background-color: transparent;
  }
}
