/**===================================
 * Indicate which links are external.
 */
a[href^="http"]:not([href^="https://nguyenvukhang.com/"], .hidden-link)::after {
  position: absolute;
  text-decoration: none;
  content: "⌝" / ", external";
  margin-top: -0.1em;
  margin-left: -0.2em;
}
a[href^="http"]:not([href^="https://nguyenvukhang.com/"], .hidden-link) {
  padding-right: 0.7ch;
}
a {
  text-decoration-thickness: 2px;
}
a:hover {
  text-decoration-line: underline;
}

/**===================================
 * Lists.
 */
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
ul,
ol {
  /* Distance of the bullet list indent. */
  /* padding-left: 24px; */
  /* So that each newline wrapped in the list is consistent. */
  list-style-position: outside;
}
ul > li,
ol > li {
  /* Spacing between bullet point and 1st word of the <li>. */
  padding-left: 6px;
  /* Each incremental indent distance. */
  margin-left: 24px;
}

/**===================================
 * Summary (disclosure blocks).
 */
summary {
  cursor: pointer;
}

/**===================================
 * Code blocks.
 */
pre,
code,
kbd {
  /**
   * (IBM Plex Sans × JetBrains)-specific mods.
   * There is some difficulty making these two agree if we use "?em":
   *  1. Using triple backticks in markdown
   *  2. Using <pre></pre> in markdown
   *
   *  and so for now we shall stick to "?rem".
   */
  font-size: 0.85rem;
  letter-spacing: -0.01em;
}
