---
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'
import Main from '../../layouts/Main.astro'
import Section from '../../layouts/Section.astro'

// get value of comparison
const comp = (v) => v.data.pubDate.valueOf()
const posts = await getCollection('blog').then((v) =>
  v.sort((a, b) => comp(b) - comp(a))
)
---

<Main>
  <Section>
    {
      posts.map((post) => {
        const { pubDate, title, description } = post.data
        return (
          <a
            class="-mx-3 px-3 py-2 no-underline block hover:bg-selection/50"
            href={`/blog/${post.slug}/`}
          >
            <div class="flex flex-row">
              <span class="flex-1">{title}</span>
              <FormattedDate class='text-fg2 text-sm' date={pubDate} />
            </div>
            <div class="font-serif italic text-fg2 text-sm">{description}</div>
          </a>
        )
      })
    }
  </Section>
</Main>
