---
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'
import Main from '../../layouts/Main.astro'
import Section from '../../layouts/Section.astro'

// get value of comparison
const comp = (v) => v.data.pubDate.valueOf()
const posts = await getCollection('blog').then((v) =>
  v.sort((a, b) => comp(b) - comp(a))
)
---

<Main>
  <Section>
    {
      posts.map((post) => {
        const { pubDate, title, description } = post.data
        return (
          <a
            class="py-1 my-1 no-underline block hover:bg-selection/50"
            href={`/blog/${post.slug}/`}
          >
            <div class="flex flex-row">
              <span class="flex-1">{title}</span>
              <FormattedDate date={pubDate} />
            </div>
            <div class="font-serif italic">{description}</div>
          </a>
        )
      })
    }
  </Section>
</Main>
