---
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'
import Main from '../../layouts/Main.astro'
import Section from '../../layouts/Section.astro'

const posts = await getCollection('blog').then((v) =>
  v.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
)
---

<Main>
  <Section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </Section>
</Main>
