---
import Main from "../layouts/Main.astro"
import Section from "../layouts/Section.astro"
import Project from "../components/Project.astro"
import * as c from "../consts"

// The exact time of my last final.
//const graduate = new Date('2025-12-03T11:00:00.000+08:00')
//const today = new Date()
//const monthsSinceGraudate =
//  (today.getFullYear() - graduate.getFullYear()) * 12 -
//  graduate.getMonth() +
//  today.getMonth()
---

<Main>
  <Section>
    <p>
      Graduated <a
        href="https://wikipedia.org/wiki/National_University_of_Singapore"
        >NUS</a
      > in Dec 2025. Now holds a math degree (2<sup>nd</sup> Major CS btw), and is
      looking for a job (cf. <a
        href="https://github.com/nguyenvukhang/site/releases/download/v1/resume.pdf"
        >resume</a
      >). Helped TA for <a href="https://nusmods.com/courses/CS2030/">CS2030</a> and
      <a href="https://nusmods.com/courses/CS2040/">CS2040</a>.
    </p>

    <p>Sleeps, codes, climbs, runs, learns cryptography.</p>

    <p>
      Life goal is to make fast, reliable, and secure software so that people
      can enjoy modern software without needing modern hardware.
    </p>

    <p>
      Keeps a <a href="/articles">small blog</a>, and a <a href="/links"
        >list of cool websites</a
      >.
    </p>

    <p>
      Does projects to solve daily-life problems and learn code in an applied
      setting:
    </p>

    <div class="mb-6 space-y-4">
      <Project
        name="Gitnu"
        href="https://www.github.com/nguyenvukhang/gitnu"
        summary="Enumerates git status"
      >
        {c.GITNU_DOWNLOADS} downloads on <a
          href="https://crates.io/crates/gitnu">crates.io</a
        >
      </Project>

      <Project
        name="Pass"
        href="https://www.github.com/nguyenvukhang/pass"
        summary="Single-file password store"
      >
        GnuPG keyring + ChaCha20
      </Project>

      <Project
        name="Statc"
        href="https://www.github.com/nguyenvukhang/statc"
        summary="Convenience routines for statistics calculations"
      >
        {c.STATC_DOWNLOADS} downloads on <a
          href="https://crates.io/crates/statc">crates.io</a
        >
      </Project>

      <Project
        name="Wordle"
        href="https://www.github.com/nguyenvukhang/wordle"
        summary="A fun application of Information Theory"
      >
        Evaluates wordle algorithms in &lt;2s
      </Project>
    </div>

    <p>Explores other languages to keep an open perspective:</p>

    <div class="mb-6 space-y-4">
      <Project
        name="Helium"
        href="https://www.github.com/nguyenvukhang/helium"
        summary="Wacom Tablet Driver extension for Precision Mode"
      >
        Swift, XCode, macOS UI Application; also in daemon form
      </Project>
      <Project
        name="Canvas Sync"
        href="https://www.github.com/nguyenvukhang/canvas-sync"
        summary="Cross-platform GUI synchronization tool"
      >
        C++, Qt6 Framework, automated builds on GitHub
      </Project>
      <Project
        name="Aquarium"
        href="https://www.github.com/nguyenvukhang/aquarium"
        summary="Backtracking solver for the Aquarium puzzle"
      >
        Implemented in both Swift and Rust
      </Project>
      <Project
        name="Nvim Toggler"
        href="https://www.github.com/nguyenvukhang/nvim-toggler"
        summary="Toggle words under your cursor"
      >
        Lua plugin for Neovim, {c.NVIM_TOGGLER_STARS}★ on GH, featured in <a
          href="https://github.com/coffebar/dotfiles">coffeebar/dotfiles</a
        >
      </Project>
    </div>
    <p>
      Find me on <a href="https://www.github.com/nguyenvukhang/">GitHub</a>,
      <a href="http://www.linkedin.com/in/nguyenvukhang/">LinkedIn</a>, and <a
        href="https://www.instagram.com/chalk.hang/">Instagram</a
      >. And if you're hiring, here's <a
        href="https://github.com/nguyenvukhang/site/releases/download/v1/resume.pdf"
        >my resume</a
      >.
    </p>
  </Section>
</Main>

<!-- styles -->
<style>
  @reference "../styles/global.css"
  p {
    @apply mb-6;
  }
  p > b {
    @apply font-semibold;
  }
</style>
