---
import Main from '../layouts/Main.astro'
import Section from '../layouts/Section.astro'
import { Content } from '../content/others/links.mdx'
---

<Main>
  <Section>
    <Content />
  </Section>
</Main>
