---
import Main from "../layouts/Main.astro"
import Section from "../layouts/Section.astro"
import { Content } from "../other-content/links.mdx"
---

<Main>
  <Section class='space-y-text'>
    <Content />
  </Section>
</Main>
