---
import Main from '../layouts/Main.astro'
import Section from '../layouts/Section.astro'
import WorkExp from '../components/WorkExperience.astro'

const Education = WorkExp
---

<Main>
  <Section>
    <h1>Work Experience</h1>

    <WorkExp
      company="Seagate Technology"
      position="Software & Applied AI Research Intern"
      range={['May 2024', 'Jan 2025']}
    >
      <li>
        Hard Disk Failure Prediction with RNNs on a stream of SMART attributes.
      </li>
      <li>
        Presented to an international audience on <a
          href="https://ieeexplore.ieee.org/document/392253"
          >Universal Approximation to Nonlinear Operators by Neural Networks</a
        >.
      </li>
      <li>
        Literature review on storage tiering/caching and past work on applying
        ML to learn an optimal replacement algorithm.
      </li>
    </WorkExp>

    <WorkExp
      company="A*STAR, Institute for Infocomm Research"
      position="Research Intern (Machine Learning)"
      range={['Jul 2023', 'Sep 2023']}
    >
      <li>
        Fine-tune Large Language Models (LLaMA/Falcon) on domain-specific
        Q&amp;A datasets using QLoRA and evaluate its usability as a chatbot
        backend.
      </li>
    </WorkExp>

    <WorkExp
      company="School of Computing, NUS"
      position="Teaching Assistant"
      range={['Jan 2023', 'May 2023']}
    >
      <li>
        Conduct classes in <a
          class="text-fg0"
          href="https://nusmods.com/archive/CS2030/2022-2023"
          >Programming Methodology II</a
        > and
        <a class="text-fg0" href="https://nusmods.com/archive/CS2040/2022-2023"
          >Data Structures &amp; Algorithms</a
        >.
      </li>
      <li>
        Received feedback score of 4.8/5.0, nominated for teaching awards by 22%
        of attending students.
      </li>
    </WorkExp>

    <WorkExp
      company="Singapore Armed Forces"
      position="Infantry Officer, OPFOR Platoon Commander"
      range={['April 2019', 'Feb 2021']}
    >
      <li>
        Plan and lead Platoon missions for 20+ Advanced Battalion-level
        Evaluation exercises.
      </li>
    </WorkExp>
  </Section>
  <Section>
    <h1>Education</h1>
    <Education
      company="National University of Singapore"
      range={['Aug 2021', 'May 2025']}
    >
      <li>
        Bachelor of Science; Computer Science and Mathematics (double major).
      </li>
      <li>Global Merit Scholar.</li>
    </Education>
    <Education company="Hwa Chong Institution" range={['Jan 2013', 'Dec 2018']}>
      <li>
        5 distinctions for GCE 'A' Levels; Hwa Chong Diploma with Distinction.
      </li>
    </Education>
  </Section>
  <Section>
    <h1>Community Activities</h1>
    <ul>
      <li>
        SunNUS 2022, App Development Lead: Published an iOS app to the Apple App
        Store for NUS's largest beach event.
      </li>
      <li>
        NUS Varsity Canoe Sprint Team: <a
          class="text-fg0"
          href="https://youtu.be/2MlwtW1qQZw">K4 500m Silver</a
        >, <a class="text-fg0" href="https://youtu.be/niBfDgLmbXw"
          >K4 200m Bronze</a
        >.
      </li>
      <li>
        Canoe Sprint Coach: Title wins for Hwa Chong Institution's A & B
        division.
      </li>
      <li>
        Charity drive "24HR Static Kayaking Challenge" Program Director: raised
        over $60,000 for the Muscular Dystrophy Association, Singapore.
      </li>
    </ul>
  </Section>
</Main>

<style>
  @reference "../styles/global.css"
  h1 {
    @apply font-semibold text-2xl;
  }
</style>
