---
import '../styles/global.css'
import { SITE_TITLE } from '../consts'
import Navigation from './Navigation.astro'
import { Logo } from './icons.tsx'

const sw = (x) => Astro.url.pathname.startsWith(x)
const subtitles = {
  '/articles': 'is a writer.',
  '/resume': 'is hard at work.',
  '/links': 'finds cool stuff.',
  '': '',
}
const subtitle = () => {
  for (let [k, v] of Object.entries(subtitles)) if (sw(k)) return v
  return ''
}
const IS_ROOT = Astro.url.pathname === '/'

const a_class = ['leading-7 no-underline hover:underline active:underline mx-6']
const s_class = ['select-none text-fg0/10 pb-0.5']
// class:list={['flex items-start mt-16 py-6 mb-0', 'flex-col', 'sm:flex-row']}
---

<div class:list={['mt-12 mb-8 p-0', 'flex flex-row items-center space-x-4']}>
  {
    IS_ROOT ? (
      <Logo height="42" class="stroke-fg2 mb-2" />
    ) : (
      <>
        <a
          style="height:28px;width:28px;min-height:28px;min-width:28px"
          class="flex justify-center items-center bg-fg3 hover:bg-fg2 hover:cursor-pointer rounded-full"
          href="/"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            height="24"
            width="24"
            class="fill-fg1 text-fg1"
          >
            <path d="M7 12L14 5L15 6L9 12L15 18L14 19L7 12Z" />
          </svg>
        </a>
        <Logo height="28" width="28" class="stroke-fg2 mb-0.5" />
      </>
    )
  }
  <h1 class="text-[19px] font-light">{SITE_TITLE}</h1>
</div>
