---
import { SITE_TITLE } from "../consts"
import { Logo } from "./icons"
import Navigation from "./Navigation.astro"

const IS_ROOT = Astro.url.pathname === "/"
---

<div class:list={["mt-12 mb-8 p-0", "flex flex-row items-center space-x-4"]}>
  <!-- The back button -->
  <a
    style="height:28px;width:28px;min-height:28px;min-width:28px"
    class:list={[
      "flex justify-center items-center",
      "hover:cursor-pointer rounded-full",
      "bg-fg3 hover:bg-fg2",
    ]}
    href={Astro.props.prevpage}
    hidden={IS_ROOT}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      height="24"
      width="24"
      class="fill-fg1"
    >
      <path d="M7 12L14 5L15 6L9 12L15 18L14 19L7 12Z"></path>
    </svg>
  </a>
  <!-- The logo. -->
  <Logo height="42" width="28" class="stroke-fg2 mb-1.5" />
  <!-- The name. -->
  <div class="text-[19px] font-light">{SITE_TITLE}</div>
</div>
