---
import '../styles/global.css'
import { SITE_TITLE } from '../consts'
import Navigation from './Navigation.astro'

const sw = (x) => Astro.url.pathname.startsWith(x)
const subtitles = {
  '/articles': 'is a writer.',
  '/resume': 'is hard at work.',
  '': 'is a CS + Math Undergrad.',
}
const subtitle = () => {
  for (let [k, v] of Object.entries(subtitles)) if (sw(k)) return v
}
---

<header class="flex flex-row items-start mt-16 py-6 mb-0">
  <div class="flex-1">
    <!-- title -->
    <h1 class="mt-0 mb-2 p-0 text-xl font-semibold">
      <a class="text-fg0 no-underline" href="/">{SITE_TITLE}</a>
    </h1>
    <!-- subtitle -->
    <div class="text-fg1">{subtitle()}</div>
  </div>

  <!-- links on a large screen -->
  <div class:list={['flex flex-col items-end', 'sm:flex-row']}>
    <Navigation />
  </div>
</header>
