---
import '../styles/global.css'
const a_class = [
  'leading-7 no-underline hover:underline active:underline',
  'sm:mb-0',
  'mb-4',
]
const s_class = ['select-none text-fg0/10 hidden sm:block sm:pb-0.5 sm:mx-6']
---

<a class:list={a_class} href="/articles">Articles</a>
<span class:list={s_class}>&VerticalLine;</span>
<a class:list={a_class} href="/links">Links</a>

<!-- <a class:list={a_class} href="/articles">Articles</a> -->
<!-- <a class="text-red-500" href="/articles">Articles</a> -->
<!-- <p class="text-red-500">hey</p> -->

<!-- <style> -->
<!--   @reference "../styles/global.css" -->
<!--   a { -->
<!--     @apply text-red-500; -->
<!--   } -->
<!--   span { -->
<!--     @apply select-none text-fg0/10 hidden sm:block sm:pb-0.5 sm:mx-6; -->
<!--   } -->
<!-- </style> -->
