<a href="/articles">Articles</a>
<!-- <span>&VerticalLine;</span> -->
<!-- <a href="/resume">Resume</a> -->

<style>
  @reference "../styles/global.css"
  a {
    @apply leading-7 no-underline hover:underline;
  }
  span {
    @apply select-none text-fg0/10 hidden sm:block sm:pb-0.5 sm:mx-6;
  }
</style>
