---
const {
  company,
  position,
  range: [start, end],
} = Astro.props
---

<div>
  <div class="font-semibold">{company.toUpperCase()}</div>
  <div class="flex flex-row text-fg1">
    {position ? <div class="flex-1">{position}</div> : null}
    <div class="text-sm">{start}—{end}</div>
  </div>
  <ul class="mt-2"><slot /></ul>
</div>
