@import './preflight.css';
@tailwind components;
@tailwind utilities;

body {
  /** global config */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;

  /** forces scrollbar to always appear to prevent horizontal jerk */
  overflow-y: scroll;

  @apply text-base bg-bg1 text-fg1;
}

@layer utilities {
  /** meant to be used on <a> */
  .bg-link {
    @apply underline decoration-bg-400 decoration-2
    hover:decoration-bg-600 hover:text-bg-200
    transition ease-in-out;
  }
}

/**
 * code blocks:
 * pre {} formats the parent code block and gives it a bg/border
 * pre > * {} formats its children and gives them proper padding
 */
pre,
code {
  font-size: 95%;
}
pre {
  line-height: 1.3em;
  @apply rounded-md mb-4 py-3 px-4;
}

/**
 * links: clickable
 */
a {
  @apply cursor-pointer
    underline decoration-fg-400 decoration-2
    hover:decoration-fg-600 hover:text-fg-900
    transition ease-in-out;
}

/**
 * Lists:
 * get them to work as expected
 */
ul,
ol {
  @apply list-outside marker:text-gray-300 mb-4;
}
/** nested lists have different indent levels */
li > ul,
li > ol {
  @apply ml-[-1rem];
}
ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}
li {
  @apply ml-8 pl-1.5; /** space out text from bullets */
}

/**
 * Paragraphs
 */
p,
summary {
  @apply mb-3;
}

/**
 * Summary (disclosure blocks)
 */
summary {
  @apply cursor-pointer;
}

/**
 * Headers
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-gray-800;
}
h4,
h5,
h6 {
  /** don't use these in writing */
  @apply text-pink-500;
}
h1 {
  @apply text-xl pt-6 pb-3;
}
h2 {
  @apply text-lg pt-5 pb-2;
}
h3 {
  @apply pt-4 pb-2;
}

/**
 * Blockquotes
 */
blockquote {
  @apply mb-4 border-l-4 border-l-gray-200 pl-5;
}

/**
 * Tables
 */
table td,
table th {
  @apply px-3.5 py-1.5 border border-gray-300;
}

th {
  @apply text-gray-800 font-semibold;
}

table tr {
  @apply border-t border-red-300;
}

table tr:nth-child(2n) {
  @apply bg-gray-100;
}
