---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import Main from './Main.astro'
import Section from './Section.astro'

type Props = CollectionEntry<'articles'>['data']

const { title, description, pubDate } = Astro.props
---

<Main>
  <Section>
    <div class='mb-8'>
      <div id='article-title' class="mt-8 font-semibold text-2xl mb-2">{title}</div>
      <FormattedDate date={pubDate} class='font-mono text-fg1' />
    </div>
    <slot />
  </Section>
</Main>
