---
import type { CollectionEntry } from "astro:content"
import Main from "./Main.astro"
import Section from "./Section.astro"
import "../styles/markdown.css"

const { title, description, pubDate } = Astro.props
---

<Main prevpage="/articles">
  <Section>
    <div class="mt-2 mb-8">
      <div class="font-semibold text-2xl mb-1">{title}</div>
      <div class="font-mono text-fg1">{pubDate}</div>
    </div>
    <div class="space-y-text">
      <slot />
    </div>
  </Section>
</Main>
