---
import type { CollectionEntry } from 'astro:content'
import Main from './Main.astro'
import Section from './Section.astro'

type Props = CollectionEntry<'articles'>['data']

const { title, description, pubDate } = Astro.props
---

<Main prevpage="/articles">
  <Section>
    <div class="mb-8">
      <div id="article-title" class="mt-8 font-semibold text-2xl mb-2">
        {title}
      </div>
      <div class="font-mono text-fg1">{pubDate}</div>
    </div>
    <slot />
  </Section>
</Main>
