---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Section from "./Section.astro"
---

<html lang="en">
  <head>
    <BaseHead title="nguyenvukhang" description="welcome to my blog" />
    <!-- START: Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DTSP115RKH"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "G-DTSP115RKH")
    </script>
    <!-- END: Google tag (gtag.js) -->
  </head>

  <body ontouchstart="">
    <Section>
      <Header prevpage={Astro.props.prevpage || "/"} />
    </Section>
    <slot />
    <Section>
      <Footer />
    </Section>
  </body>
</html>
