<div class="w-full flex justify-center">
  <div
    class:list={[
      'w-full overflow-x-hidden',
      'px-4', // smallest screen
      'sm:max-w-[34rem] sm:px-0', // >= sm
      'md:max-w-[40rem]', // >= md
      'lg:max-w-[46rem]', // >= md
      Astro.props['class'],
    ]}
  >
    <slot />
  </div>
</div>
