@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Readex';
  src: url('../public/fonts/ReadexPro-Regular.woff2');
}

/**
 * code blocks:
 * pre {} formats the parent code block and gives it a bg/border
 * pre > * {} formats its children and gives them proper padding
 */
pre,
code {
  font-size: 0.9em;
}
pre {
  @apply overflow-x-auto bg-gray-100 border rounded-md my-4;
}
pre > * {
  @apply mx-2 my-1 inline-block;
}
/* code in a paragraph */
p > code {
  @apply bg-gray-100 px-0.5 rounded-sm outline outline-1 outline-gray-200;
}

/**
 * links:
 * get them on classic blue and clickable
 */
a {
  @apply text-accent-500 hover:underline cursor-pointer;
}

/**
 * Lists:
 * get them to work as expected
 */
ul,
ol {
  @apply list-inside marker:text-gray-300 ml-[-0.625rem];
}
ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}
li:before {
  @apply inline-block w-2;
  content: '';
}
li {
  @apply ml-8;
}

/**
 * Paragraphs
 */
p,
summary {
  @apply my-4;
}

/**
 * Summary (disclosure blocks)
 */
summary {
  @apply cursor-pointer;
}

/**
 * Headers
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}
h1 {
  @apply text-xl mt-8 mb-2;
}
h2 {
  @apply text-lg mt-6 mb-2;
}
h3 {
  @apply mt-4 mb-2;
}
